.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 1fr 20fr;
  grid-template-columns: 5fr 20fr;
  grid-gap: 10px;
}

.app-wrapper-content
{
  grid-area: c;
}

.app-navbar
{
  grid-area: n;
  justify-self:flex-end;
}

.app-header
{
  grid-area: h;
}

::-webkit-scrollbar {
  display: none;
}